<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-row>
    <ion-col class="col-md-12">
      <!-- Id Card -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  text-center >
        <img src="src\assets\Images\nfc.png" style="width:50%;height:50%"(click)="navigateForNfc()">
    </ion-col>
    <ion-col text-center >
        <img src="src\assets\Images\qr.png" style="width:50%;height:50%" (click)="navigateForQr()">

    </ion-col>

  </ion-row>

  <!-- <ion-button (click)="ReceiveCode()">Receive Code</ion-button> -->


</ion-content>